{% extends "Default/index.html.twig" %}

{% block subcontent %}

<div class="section">

<div class="col-lg-10 mx-auto">

<div class="alert alert-danger" role="alert">
  Si è verificato un errore e l'operazione in corso non è stata completata: <b>{{ errore }}</b>
</div>

</div>

</div>

{% endblock %}
